/* html, body{
    width: 100%;
    height: 100%;
} */
/* @media screen and (max-width: 600px) 
{
  .MuiStepLabel-labelContainer-87{
    display: none !important;
  }
} */

.PhoneInputInput{
  font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.5555em;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0 0 0 / 28%);
    border-radius: 4px;
    padding-left: 14px;
  } 
  .PhoneInputInput:active,  .PhoneInputInput:focus-visible{
    outline: 2px #251056 auto;
  }

  @keyframes rocket {
    0% {transform: translateY(0);}
    100% {transform: translateY(-20px);}
    /* 100% {transform: translateY(0);} */
  }
  
  /* The element to apply the animation to */
  #rocket {
    animation-name: rocket;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }